<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.ogonium.goldberg.dov.geofencing" version="0.3.6">

    <name>DGGeofencing</name>
    <description>Cordova Geofencing Plugin</description>
    <repo>https://github.com/radshag/PhoneGap-Geofencing.git</repo>
    <author>Dov Goldberg</author>
    <license>Apache License, Version 2.0</license>
    <keywords>cordova, phonegap, geofencing, geofence</keywords>

    <js-module src="www/DGGeofencing.js" name="DGGeofencing">
        <clobbers target="DGGeofencing" />
    </js-module>

    <platform name="ios">
        <framework src="CoreLocation.framework" weak="true" />
		<config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
			<string>${EXECUTABLE_NAME} Would Like to Use Your Current Location Even In Background.</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
			<string>${EXECUTABLE_NAME} Would Like to Use Your Current Location When In Use.</string>
    	</config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="DGGeofencing">
                <param name="ios-package" value="DGGeofencing"/>
            </feature>
        </config-file>
        <header-file src="src/ios/src/DGGeofencing.h" />
        <source-file src="src/ios/src/DGGeofencing.m" />
    </platform>

	<platform name="android">
        <framework src="com.google.android.gms:play-services-gcm:7.5.0" />
        <source-file src="src/android/src/com/phonegap/geofencing/DGGeofencing.java" target-dir="src/com/phonegap/geofencing" />
        <source-file src="src/android/src/com/phonegap/geofencing/LocationChangedListener.java" target-dir="src/com/phonegap/geofencing" />
        <source-file src="src/android/src/com/phonegap/geofencing/ProximityReceiver.java" target-dir="src/com/phonegap/geofencing" />

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="DGGeofencing">
				   <param name="android-package" value="com.phonegap.geofencing.DGGeofencing" />
			</feature>
		</config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
			<receiver android:enabled="true" android:exported="false" android:name="com.phonegap.geofencing.ProximityReceiver">
				<intent-filter>
					<action android:name="geoFencingProximityAlert" />
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>
			</receiver>
		</config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.GET_ACCOUNTS" />
			<uses-permission android:name="android.permission.BROADCAST_STICKY" />
			<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
        </config-file>

    </platform>

</plugin>
