<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.plugin.DGGeofencing"
    version="1">

    <name>Geo Fencing Plugin</name>

    <asset src="www/DGGeofencing.js" target="DGGeofencing.js" />

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="org.apache.cordova.plugin.geo.ProximityReceiver">
                <intent-filter>
                    <action android:name="geoFencingProximityAlert"/>
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </receiver>
        </config-file>

        <!-- Cordova 1.5 - 1.9 -->
        <config-file target="res/xml/plugins.xml" parent="/plugins">
            <plugin name="DGGeofencing" value="org.apache.cordova.plugin.geo.DGGeofencing" />
        </config-file>

        <!-- Cordova 2.0.0 -->
        <config-file target="res/xml/config.xml" parent="/cordova/plugins">
            <plugin name="DGGeofencing" value="org.apache.cordova.plugin.geo.DGGeofencing" />
        </config-file>

        <source-file src="src/android/DGGeofencing/DGGeofencing.java" target-dir="src/org/apache/cordova/plugin/geo/" />
        <source-file src="src/android/DGGeofencing/DGGeofencingService.java" target-dir="src/org/apache/cordova/plugin/geo/" />
        <source-file src="src/android/DGGeofencing/LocationChangedListener.java" target-dir="src/org/apache/cordova/plugin/geo/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <plugins-plist key="DGGeofencing"
                    string="DGGeofencing" />

        <header-file src="DGGeofencing.h" />
        <header-file src="DGGeofencingHelper.h" />

        <source-file src="DGGeofencing.m" />
        <source-file src="DGGeofencingHelper.m" />
    </platform>
</plugin>
